header {
  background: #f2f2f2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  position: relative;
}

.logo {
  width: 200px;
}

.logo-dropdown {
  width: 50px;
  transform: rotate(50deg);
  transition: .3s;
}

.ativar-logo {
  transform: rotate(-40deg);
}


.menu-principal {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
}

.botao-menu {
  font-family: "Rubik Dirt", cursive;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.dropdown {
  position: absolute;
  display: none;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  text-align: end;
  z-index: 100;
  right: 0px;
  background-color: #732f17;
  padding: 20px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

.dropdown li a {
  font-family: "Rubik Dirt", cursive;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #d9bca3;
  transition: .2s;
}

.dropdown li a:hover {
  color: #f28705;
}

.dropdown-ativo {
  display: flex;
  animation: show-up 0.3s forwards;
}

@keyframes show-up {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.link-menu{
  display: none;
}
@media (max-width: 550px) {
  .menu-none {
    display: none;
  }
  .link-menu {
    display: initial;
  }
  .logo {
    width: 100px;
  }
  .logo-dropdown {
    width: 40px;
  }
  .dropdown li a {
    font-size: 1rem;
    font-weight: 400;
  }
}
